.notes {
	width: 300px;
	height: 300px;
}

.note-input {
	height: 30px;
	padding-left: 5px;
	box-shadow: rgba(35, 35, 35, 0.84) 2px 2px 4px 0px inset,
		rgba(237, 237, 237, 0.217) -2px -2px 4px 1px inset;
	background-color: inherit;
	color: inherit;
	border: none;
	border-radius: 5px;
	overflow: visible;
}

.new-note {
	margin-top: 8px;
}

.note {
	margin-top: 10px;
	border: 1px solid rgba(25, 25, 25, 0.2);
	border-radius: 5px;
}

.sub-notes {
	margin-top: 5px;
	height: auto;
	overflow: hidden;
	border: 1px solid rgba(25, 25, 25, 0.2);
	border-radius: 5px;
	background-color: inherit;
}

@media (max-width: 600px) {
	.notes {
		margin: 0;
		width: auto;
	}
}
