.business {
	width: 300px;
	height: 300px;
}

.stock-card {
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(25, 25, 25, 0.2);
	border-radius: 5px;
	padding: 5px;
	margin-top: 8px;
}

.stock-name {
	width: 200px;
}

.stock-company {
	margin: 0;
	font-size: 12px;
}

.stock-price {
	margin: auto 10px auto 10px;
}

.stock-change {
	margin: auto 10px auto 10px;
	font-size: 12px;
}
