::-webkit-scrollbar {
	display: none;
}

.news {
	width: 300px;
	height: 300px;
}

.art {
	margin: 0;
}

.article {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	margin: 10px 0 0 0;
}

.art-title {
	margin-top: 11px;
	margin: 0;
}

.art-source {
	margin-top: 5px;
	font-size: 10px;
}

@media (max-width: 600px) {
	.news {
		margin: 0;
		width: auto;
	}
}
