main {
	padding: 32px;
	color: #333;
}

.dark {
	background-color: #333;
	color: #fff !important;
}

.light {
	background-color: rgb(255, 255, 255);
	color: #333 !important;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}

a {
	display: block;
	margin-top: 8px;
	margin-bottom: 32px;
	color: inherit;
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.toggle {
	cursor: pointer;
	display: inline-block;
	align-self: center;
}

.toggle-switch {
	display: inline-block;
	background: rgb(70, 70, 70);
	border-radius: 17px;
	width: 52px;
	height: 26px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
	content: "";
}
.toggle-switch:before {
	display: block;
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
	border-radius: 50%;
	box-shadow: 0 0 1px 2px rgba(36, 36, 36, 0.124);
	width: 22px;
	height: 22px;
	position: absolute;
	top: 2px;
	left: 2px;
	transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
	background: linear-gradient(to bottom, #fff 0%, #fff 100%);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
	background: #ccc;
}
.toggle-checkbox:checked + .toggle-switch:before {
	left: 27px;
	background: rgb(70, 70, 70);
}

.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}

.toggle-label {
	margin-left: 5px;
	position: relative;
	top: 1px;
}

.second {
	margin-top: 30px;
}

.third {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.box {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	border: 1px solid rgba(25, 25, 25, 0.2);
	padding: 0 20px 20px 20px;
	border-radius: 20px;
	overflow: scroll;
}

.box-title {
	position: sticky;
	top: 0px;
	height: 20px;
	background-color: inherit;
	padding: 15px 0 10px 0;
}

@media (max-width: 600px) {
	main {
		padding: 15px;
	}

	.third {
		flex-direction: column;
		gap: 30px;
	}
}
