main {
	max-width: 100%;
	margin: 0 auto;
	padding: 32px;
	color: #333;
}

section {
	display: flex;
}

@media (max-width: 600px) {
	section {
		display: block;
	}
}

h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 24px;
}

a {
	display: block;
	margin-top: 8px;
	margin-bottom: 32px;
	color: #333;
}

.hello {
	margin-left: 5px;
}
